/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

/* header style */
.header-set {
    background-color: rgba(229, 84, 115, 0.10);
    margin: 0;
}

.title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 200px;
    margin-bottom: 32px;
    margin-right: 97px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px 0 240px;
}

.descrip {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;

    /* margin-right: 171px; */

}

.btn-header {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 44px;
    margin-bottom: 147px;

}

.profile-pic {
    width: 635px;
    margin-top: 50px;

}

/* section style */
.icon {
    width: 310px;
    margin: 110px 78px 0 76px;
}

.icon2 {
    width: 370px;
    margin: 118px 48px 52px 48px;


}

.icon3 {
    width: 314px;
    height: 471px;
    margin: 67px 75px 0 75px;
    /* margin-bottom: 0; */
}

.box {
    width: 464px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    margin-left: 240px;
}

.box2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    margin-left: 24px;
    margin-right: 24px;
}

.box3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    margin-right: 240px;

}

.all-box {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 48px;

}

.option-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    /* margin-top: 32px; */
    margin-left: 10px;



}

.option-title2 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    /* margin-top: 32px; */
    margin-left: 300px;
    /* margin-rig/ht: 307px; */
}

.option-title3 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    /* margin-top: 32px; */
    margin-left: 300px;

}

.section-container {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-left: 381px;
    margin-right: 381px;
    margin-top: 10px;
    margin-bottom: 120px;
}







/* main section style */


.text-primary {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 230px;
    margin-bottom: 24px;
    /* margin-right: 190px; */
}



.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 429px 0 423px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    border: 0;
    /* width: 1922px;
height: 620px; */

}

.descrip-primary {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-right: 186px;

}

.pic {
    width: 318px;
    /* height: 420px; */
    margin: 100px 0;
}

.btn-main {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 43px;
    margin-left: 190px;
    margin-bottom: 162px;
}

.clr-change {
    color: #E55473;
}

/* section3 style */




.list-container {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 276px;
    margin-top: 48px;


}

.sec-name {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
    margin-bottom: 24px;
}

.sec-descript {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    /* margin-bottom: 48px; */
}

/* sect-4 style */

.f-email {
    display: block;
    height: 50px;
    border-radius: 8px;
    background-color: #FFF;
    width: 700px;
    border: 0;
    margin: 46px 16px 249px 0;
    padding: 10px 0 15px 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;


}

.sec4-name {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
    margin-bottom: 24px;
    padding-top: 122px;

}

.sec4-descript {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.join {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.section-4 {
    background-image: url('../Flower Asset/Rectangle 9.png');
    width: 1440px;
    height: 449px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-bottom: 128px;
    border-radius: 8px;
    margin-top: 128px;


}

.btn-join {
    color: #FFF;
    border: 0;
    font-size: 20px;
    font-weight: 450;
    border-radius: 8px;
    background: #E55473;
    width: 100px;
    /* height: 64px; */
    text-align: center;
    padding: 18px 31px;
    margin-bottom: 249px;
    margin-right: 24px;
    margin-top: 46px;


}








/* footer style */




.footer-p2 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 128px;

}

.c-change {
    color: #FFFFFF
}

.f-name {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    /* margin-top: 128px:; */
    margin-bottom: 24px;
}


.f-title {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}


footer {
    background-color: #111010;
    width: 1922px;
    height: 449px;
    text-align: center;
    padding-top: 128px;

}